@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
.bg-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header section style */

/* nav side style */
header {
  width: 100%;
}
nav {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  align-items: center;
  padding: 30px 180px;
  height: 20px;
}

.logo-side {
  margin: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.logo-img {
  width: 30%;
}
.nav-side {
  margin: 0px;
}
.section-title {
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
}
.logo-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-spn {
  color: #ff42a5;
}
nav button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
}
nav a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
}
.nav-side {
  display: flex;
  justify-content: flex-end;
}
.fa-youtube {
  color: #f61c0d;
  margin-left: 20px;
}
.fa-tiktok {
  color: #000000;
  margin-left: 10px;
}
nav button:hover {
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
}
/* banner section style */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 0px;
  height: 70vh;
  gap: 40px;
  /* border: 2px solid green; */
}
.banner-text-side {
  /* border: 2px solid blue; */
  width: 50%;
  height: 100%;
  position: relative;
}
.banner-text-img {
  width: 100%;
  height: 100%;
}
.banner-text {
  position: absolute;
  top: 80px;
  right: 170px;
}
.banner-text p {
  text-align: left;
  margin-top: 5px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.banner-play {
  text-align: left;
  color: #0b0223;
  text-align: left;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-heading {
  text-align: left;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.banner-btn {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.btn-primary {
  border: none;
  border-radius: 42px;
  background-color: #ff42a5;
  width: 80px;
  height: 40px;

  color: #fff;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.rogue {
  background-color: #4ec5f7;
  width: 100px;
}
.banner-img-side {
  width: 50%;
  height: 100%;
}
.banner-img {
  width: 72%;
  height: 100%;
}

/* main section style */

/* gamer section */

.gamer {
  width: 100%;
  height: 65vh;
  background-color: #fdf5fb;
  /* border: 2px solid red; */
}
.gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 180px;
}

.gamer-img {
  width: 50%;
  height: 100%;
}
.gamer-description-side {
  height: 100%;
  text-align: right;
}
.gamer-title {
  text-align: right;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
}

.gamer-description {
  width: 340px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
}
.gmr-btn {
  width: 120px;
  height: 40px;
  font-weight: 600;
  margin: 20px 0px 20px 0px;
}
.purpose-p {
  font-size: 16px;
}
.unleash-h3 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

/* videos section */
.videos {
  width: 100%;
  /* height: 80vh; */
  position: relative;
  /* border: 2px solid blue; */
}
.videos-sec-title {
  text-align: center;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  padding-top: 70px;
}
.video-sec-description {
  color: #534c64;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 180px;
  gap: 10px;
  /* border: 2px solid red; */
}
.cards {
  width: 210px;
}

.card-img {
  width: 100%;
}

.card-description {
  color: #312d3a;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  text-align: left;
}
/* games type section */
.games-type {
  width: 100%;
  height: 50vh;
  background-color: #fff9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games-type-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: center;

  padding: 0px 120px;
}
.games-type-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  border-radius: 50px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: none;
  gap: 5px;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.games-type-btn:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
}
.games-type-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


/* play section style */
.play {
  width: 100%;
  height: 80vh;
  /* border: 2px solid red; */
  /* padding: 0px 180px; */
}
.play-container {
  /* border: 2px solid green; */
  /* padding-top: 100px; */
  /* margin: 0px; */
  /* padding: 0px; */
}
.play-description {
  text-align: right;
  position: relative;
  left: 100px;
  width: 300px;
}
.play-section-title {
  width: 260px;
  text-align: right;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.play-section-description {
  width: 260px;
  margin-top: 15px;
  font-size: 12px;
  font-family: Work Sans;
  line-height: 20px;
}
.bg-color-play {
  background: linear-gradient(180deg, #f948b2 40%, #8758f1 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-description {
  /* width: 50%; */
  /* height: 100%; */
  width: 250px;
  height: 100%;
  top: -40px;
  /* border: 2px solid blue; */
}
.play-img {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: -50px; */
  position: relative;
}
.horse-pic {
  width: 300px;
}
.pic-66 {
  width: 140px;
  position: relative;
  top: -100px;
  left: -50px;
}
/* footer section style */
footer{
  width: 100%;
  height: 70vh;
  background-color: #0B0223;
  text-align: center;
}
.logo-footer-container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-top: 50px; */
  padding-top: 40px;
}
.logo-img-footer{
  width: 50px;
}
.logo-title-footer{
  color: white;
  font-size: 30px;
}
.info-bar{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-top: 40px;
}
.info-bar h4{
  color: white;
}
.info-bar a{
  text-decoration: none;
  color: white;
  font-weight: 600;
} 
.adm-bar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
}
.adm-a, .reserve-div p{
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  margin-top: px;
  color: rgba(255, 255, 255, 0.60);
}
.reserve-div{
  margin-top: 25px;
}
/* .reserve-div p{
  color: rgba(255, 255, 255, 0.60);
} */